@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
  }
  body {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #f9f9ff;
    color: #141b2b;
    -webkit-tap-highlight-color: transparent;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
